# Auto detect text files and perform LF normalization
* text=auto

# Custom for Vagrant
*.sh diff=bash text=auto eol=lf

# Custom for Visual Studio
*.cs text diff=csharp eol=crlf
*.sln text merge=union eol=crlf
*.csproj text merge=union eol=crlf

*.bmp binary
*.gif binary
*.ico binary
*.jpg binary
*.png binary

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain
